
<div class="container text-center">
  <h1>Live codes du Batch <%= @batch.number %></h1>
  <div class="row">
    <% @repositories.each do |repository| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-svg">
            <%= repository['kitt_svg'] %>
          </div>

          <div class="card-category"><%= repository['kitt_title'] %></div>
          <div class="card-description text-left">
            <h2><%= repository['name'] %></h2>
            <p><%= format_date(repository['created_at']) %></p>
          </div>
          <img class="card-user" src="<%= repository['owner']['avatar_url'] %>">
          <a class="card-link" href="<%= repository['html_url'] %>" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>

